table {
  user-select: none;
}
thead > tr > th {
  text-align: left;
}
tbody > tr > td {
  text-align: left;
}

.symbolcolor {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn1 {
  height: 7px;
  width: 7px;
  border-radius: 4px;
  background-color: #ed5a5a;
}
.btn2 {
  height: 7px;
  width: 7px;
  border-radius: 4px;
  background-color: #4caf4c;
}
.btn3 {
  height: 7px;
  width: 7px;
  border-radius: 4px;
  background-color: orange;
}
